* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  max-height: 100vh;
  padding-top: 60px;
  overflow-x: hidden;
}

.smile {
  margin-top: 200px;
}

.smile-emodje {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background: rgb(255, 241, 42);
  border-radius: 50%;
  transition: all 1s ease;
}

.span-1 {
  position: absolute;
  top: 90px;
  left: 70px;
  padding: 20px 20px;
  background: #000;
  border-radius: 50px;
}

.span-2 {
  position: absolute;
  top: 90px;
  right: 70px;
  padding: 20px 20px;
  background: #000;
  border-radius: 50px;
}

.element {
  position: absolute;
  top: 210px;
  left: 75px;
  padding: 20px 75px;
  border-radius: 70% 70% 0px 0px;
  background: rgb(255, 241, 42);
  z-index: 10;
}

.span-3 {
  position: absolute;
  top: 200px;
  left: 80px;
  padding: 20px 70px;
  border-radius: 50% 50% 1px 1px;
  background: #000;
  z-index: 5;
}

.smile-emodje:hover .span-3 {
  padding: 20px 70px;
  border-radius: 15px 15px 100% 100%;
  background: #000;
}

.smile-emodje:hover .element {
  top: 190px;
  left: 75px;
  padding: 20px 75px;
  border-radius: 0px 0px 80% 80%;
  background: rgb(255, 241, 42);
}

.smile-emodje:hover {
  transform: scale(1.4) rotate(360deg);
  transition: all 1s ease;
  box-shadow: 0px 0px 50px 5px rgb(87, 210, 226);
}